@import '../../styles/constants.scss';

.unit-display {
  grid-area: 3/3/4/4;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 10px 10px 10px;
  padding: 8px 5px;
  border: 5px solid $outline-border-color;
  background: $lighter-grey-color;

  p {
    font-size: 10px;
    font-weight: 700;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 125px;
  }
}